
*{margin: 0;padding: 0;}
html{width: 100%;height: 100%;font-size: 100px;}
body{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 0.24rem;
}
a{text-decoration: none;-webkit-tap-highlight-color:rgba(0,0,0,0);}

input{outline: none;-webkit-appearance: none;-webkit-appearance:none;-webkit-tap-highlight-color:rgba(255,255,255,0)}
input:focus{
    border: 0.02rem solid #ffc000;
    border-radius:0.10rem ;
}
::-webkit-scrollbar{
    width: 0.08rem;
    margin-right: 0.08rem;
}
::-webkit-scrollbar-thumb{
    border-radius: 0.06rem;
    background-color: #cfcfcf;
    height: 0.40rem;
}

/*landing Page*/
.landing-container{
    width: 100%;
    height: auto;
}
.loading-page{
    width: 100%;
    height: 12.06rem;
    background: url("../assets/landing_page_bg.png") no-repeat center;
    background-size: 7.50rem 12.06rem;
    position: relative;
    top: 0;
    /*margin-top: 1.28rem;*/
    overflow: hidden;
}
.fixed-top{
    width: 100%;
    height: 1.28rem;
    background-color: blue;
    position: fixed;
    top: 0;
    z-index: 2;
}
.button-red{
    width: 1.97rem;
    height:1.97rem;
    position: absolute;
    top: 9.20rem;
    left: 2.75rem;
    transform: rotateY(30deg);
    z-index: 2;
}
.landing-red{
    position: absolute;
    width: 7.07rem;
    height: 3.63rem;
    bottom: 0;
    left: 0.21rem;
    z-index: 1;
}
/*按钮的点击动画*/
.animationButton{
    animation:flipOutY 1s .2s ease both;
}
@keyframes flipOutY{
    0%{transform:scale3d(1,1,1) rotateY(0deg) ;
        opacity:1}
    10%{transform: scale3d(1.2, 1.2, 1.2) rotateY(0deg);
        opacity:1;}
    80%{transform: scale3d(1.2, 1.2, 1.2) rotateY(360deg) ;
        opacity:1}
    100%{transform:  scale3d(1, 1, 1) rotateY(360deg);
        opacity:1;}
}

/*按钮的初始动画*/
.animationButtonInfinite{
    animation: buttonInfinite 1s ease infinite;
}
@keyframes buttonInfinite {
    0%{opacity: 1;transform:scale3d(0.9,0.9,0.9)}
    100%{opacity: 0.9;transform:scale3d(1.1, 1.1, 1.1)}
}
/*页面的点击动画*/
.animationPageUp{
    animation:pageUp 1.5s .2s ease both;
}

@keyframes pageUp {
    0%{transform:translateY(0);-webkit-backface-visibility: hidden;}
    20%{transform:translateY(0.2rem);-webkit-backface-visibility: hidden;}
    100%{transform:translateY(-12.06rem);;-webkit-backface-visibility: hidden;display: none}
}
/*注册页面进来动画*/
.animationRegisterUp{
    animation:registerUp 1s 0s ease both;
}

@keyframes registerUp {
    0%{transform: translateY(12.03rem)}
    20%{opacity: 0;transform:translateY(12.03rem)}
    100%{opacity: 1;transform:translateY(0rem)}
}
.bottom{
    position: relative;
    height: auto;
    width: 7.50rem;
    display: block;
    background-size: 7.50rem 27.03rem;
    margin-left: auto;
    margin-right: auto;
}
.register-form{
    width: 7.04rem;
    height: 7.15rem;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    position: relative;
    border: 0.03rem solid #ffb423;
    border-radius: 0.10rem;
    background-color: #ffffff;
    color: #adadad;
}
.traffic_register_bg{
    position: relative;
    width: 7.5rem;
    padding: 0;
    border: 0;
    margin: 0;
    display: block;
}
.traffic_from{
    width: 100%;
    position: relative;
    /*top: 9.50rem;*/
    height: auto;
    padding-top: 0.35rem;
    background-color: #ffcb5b;
}
.register-center{
    width: 6.60rem;
    height: 7.15rem;
    margin: 0 auto;
}
.qtz-promise{
    display: block;
    width: 100%;
    height: 0.76rem;
    text-align: center;
    line-height: 0.76rem;
}
.input-container{
    width: 100%;
    height: 0.89rem;
    margin-top: 0.50rem;
    position: relative;
}
.input-container>p{
    display: block;
    position: absolute;
    width: 3.00rem;
    height: 0.66rem;
    background: rgba(0,0,0, 0.5);
    color: #ffffff;
    text-align: center;
    line-height: 0.66rem;
    top: -0.33rem;
    left: 1.80rem;
    border-radius: 0.15rem;
}
.input-container>img{
    position: absolute;
    width: 0.44rem;
    height: 0.44rem;
    top: 0.22rem;
    right: 0.29rem;
}
.input-same{
    display: block;
    width: 6.28rem;
    height: 0.86rem;
    padding-left: 0.30rem;
    outline: hidden;
    border: 0.02rem solid #adadad;
    border-radius: 0.10rem;
}
.get-check{
    width: 1.72rem;
    border-left:0.01rem solid  #adadad;
    height: 0.50rem;
    text-align: center;
    line-height: 0.50rem;
    color:#ffc000;
    position: absolute;
    top: 0.18rem;
    right: 0;
}
.agree-consent{
    width: 100%;
    height: 0.72rem;
    text-align: left;
    line-height: 0.72rem;
}
.agree-consent>a{
    color: #ffc000;
}
.now-register{
    display: block;
    width: 100%;
    height: 0.97rem;
    background: url("../assets/register-button.png") no-repeat center;
    background-size: 100% 100%;
    overflow: hidden;
}
.now-register:hover{
    animation: registerButton 0.5s 0.1s ease both;
}
@keyframes registerButton {
    0%{background-size: 100% 100%;}
    50%{background-size: 102% 102%}
    100%{background-size: 100% 100%}
}
.readyed-register{
    width: 100%;
    display: block;
    height: 0.56rem;
    text-align: center;
    line-height: 0.56rem;
}
.readyed-register>a{
    padding-left: 0.22rem;
    color: #ffc000;
}
.get-red-container{
    position: relative;
    width: 7.50rem;
    height: 12.06rem;
    overflow: hidden;
    background: url("../assets/traffic-download-bg.png") no-repeat center;
    background-size: 7.50rem 12.06rem;
}
.download-app-link{
    position: absolute;
    display: block;
    width: 5.68rem;
    height: 1.06rem;
    background: url("../assets/down-app-button@2x.png") no-repeat center;
    background-size: 100% 100%;
    top: 9.21rem;
    left: 1.00rem;
}
.red-rules-but{
    position: absolute;
    width: 1.53rem;
    height: 1.85rem;
    background: url("../assets/red-rules-but@2x.png") no-repeat center;
    background-size: 100% 100%;
    top: 3.70rem;
    right: 0;
    z-index: 1;
}
/*弹框*/
.red-bg-container{
    display: none;
    width: 7.50rem;
    background: rgba(0,0,0, 0.6);
    height: 24.10rem;
    position: fixed;
    top: 0;
    z-index: 2;
}
.rules-list-bg{
    width: 7.03rem;
    height: 7.16rem;
    position: absolute;
    top: 0.90rem;
    background: url("../assets/red-rule-list@2x.png") no-repeat center;
    background-size: 7.03rem 7.16rem;
    left: 0.42rem;
}
.rules-black-bg{
    position: absolute;
    top: 0.90rem;
    left: 0.17rem;
    width: 6.42rem;
    height: 5.18rem;
    overflow: hidden;
}
.rules-black-bg>div{
    width: 100%;
    height: 5.18rem;
    overflow-x: hidden;
    overflow-y: scroll;
}
.rules-black-bg>div>img{
    width: 100%;
    height: 10.10rem;
}
.close-bg{
    width: 0.68rem;
    height: 0.68rem;
    position: absolute;
    left: 2.90rem;
    bottom: -0.68rem;
    background: url('./../assets/close-bg@2x.png') no-repeat center;
    background-size: 100% 100%;
}
/*红包列表进入效果*/
.animationRulesText{
    animation:bounceInText 1s .2s ease both;}
@keyframes bounceInText{
    0%{opacity:0;
        transform:scale(.3)}
    50%{opacity:1;
        transform:scale(1.05)}
    70%{transform:scale(.9)}
    100%{transform:scale(1);}
}
/*红包出去效果*/
.animationRulesOutContent{
    animation:bounceOutContent 1s .2s ease both;}
@keyframes bounceOutContent{
    0%{transform:scale(1);}
    25%{transform:scale(.95)}
    50%{opacity:1;
        transform:scale(1.1)}
    100%{opacity:0;
        transform:scale(.3);}
}

.download-app-link:focus{
    transform: scale(0.98);
}